.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.item {
  background: lightgray;
  padding: 20px;
  text-align: center;
}

.big {
  grid-column: span 2;
  background: orange;
}