body{
    display: flex;
}
.block1{
    display: flex;
    flex: 2;
    flex-direction: column;
}
.block2{
    display: flex;
    flex: 1;
}
.hyperlinks{
    margin-top: 30px;
}
.hyperlinks a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(82, 82, 190);
    padding: 30px;
    margin-top: 30px;
}
.hyperlinks a:hover{
    color: red;
}
.logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.header{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.grids img{
    height: 100px;
    width: 200px;

}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 20px;
    height: 95vh;
    justify-content: space-between;
    
}
.text h1{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.text p{
    font-size: 14px;
    
}