.header1{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    color: rgba(0, 0, 0, 0.927);
    align-items: center;
    
}
.header1 h1{
    font-size: 32px;
    margin-right: 400px;
    margin-left: 15px;
}
.header1 a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding: 60px;
    
   
}
.header1 a:hover{
    color: red;
}
.header1 button{
    color: bisque;
    background-color: black;
    font-size: 22px;
    margin-left: 200px;
    width: 70px;
    height: 30px;
    border-radius: 35px;

}
.header1 button:hover{
    background-color: cadetblue;
    width: 150px;
    height: 50px;
}
.header2{
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    align-items: center;

}
.header2 h1{
    font-size: 32px;
    margin-right: 400px;
    margin-left: 15px;
}
.header2 a{
    text-decoration: none;
    color: black;
    margin-left: 90px;
    padding: 20px;
    
}
.header2 a:hover{
    color: crimson;
    background-color: blanchedalmond;
    width: 70px;
}
.header2 button{
    color: black;
    background-color: bisque;
    
}
.header3{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: rgb(233, 183, 58);
    
}
.header3 button{
    
    width: 80px;
    height: 60px;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 600px;
    background-color: palegoldenrod;
    border-radius: 15px;
}
.header3 img{
    display: flex;
    width: 100px;
    height: 150px;
    margin-left: 550px;
    
}
.header3 h1{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
}
