.header{
    position: relative;
    top: 30px;
    bottom: 20px;
    width: cover;
    height: 100px;
    
    background-color: cornflowerblue; 
    padding-top: 20px;
    
}
.news1{
    background-color: green;
    height: 500px;
    width: 420px;
    padding: 10px;
    border: 2px black solid;
    margin: 80px;
    position: relative;
    left: 100px;
    

}
.news1 img{
    background-color: aliceblue;
    width: 400px;
    height: 250px;
    border: 1px black;
    border-radius: 16px;
    padding: 10px;
}
.hyperlinks a{
   margin: 20px;
   font-size: larger;
   background-color: aliceblue;
   padding: 20px;
   text-decoration: none;
   color: black;
}
.news2{
    background-color: palevioletred;
    height: 500px;
    width: 420px;
    padding: 10px;
    border: 2px black solid;
    margin: 80px;
    position: relative;
    left: 800px;
    bottom: 600px;
   
}
.news2 img{
    width: 400px;
    height: 250px;
    border: 1px black;
    border-radius: 16px;
    padding: 10px;
}
.hyperlinks{
    padding-top: 10px;
}
.footer {
    position: relative;
    top: 30px;
    bottom: 10px;
    width: cover;
    height: 100px;
   
    background-color: cornflowerblue;
    padding-top: 40px;
}
.footer a{
    margin: 50px;
    padding: 20px;
    color: black;
    text-decoration: none;
    background-color: aliceblue;
   
    
}
