
.first{
    
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    
}
.sig{
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    
    margin: 30px;
    border: 2px solid black;
}
.red{
    
    background-color: red;
}
.yellow{
    background-color: yellow;
    
}
.green{
    background-color: green;
    
}
.second{
    position: relative;
    left: 400px;
    top: 100px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(159, 234, 209);
    width: 500px;
    height: 500px;
}

.lefteye{
    width:80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 120px;
    left: 120px;
    background-color: white;
    border: 2px solid aquamarine;
}
.righteye{
    width:80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 300px;
    background-color: white;
    border: 2px solid aquamarine;
}
.mouth{
    width: 200px;
    height: 12px;
    background-color: white;
    border: 2px solid aquamarine;
    position: relative;
    top: 230px;
    left: 140px;
}
.nose{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px solid aquamarine;
    position: relative;
    top: 50px;
    left: 200px;

}