body{
    font-family: Arial, Helvetica, sans-serif;
   
}
.header{
    position: relative;
    left: 200px;
}
.logo{
    position: relative;
    left: 300px;
    top: 10px;
}
.logo img{
    width: 200px;
}
.hyperlinks{
    position: relative;
    left: 700px;
    top: 10px;
}
.hyperlinks a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin: 20px;
}
.btn{
    position: relative;
    left: 1200px;
    bottom: 60px;
}
.btn button{
    padding: 10px 25px;
    font-size: 20px;
    border: 1.5px solid #395FFA;
    background-color: #FFCA02;
    color: #395FFA;
    border-radius: 16px;
    font-weight: bold;
    position: relative;
    top: 35px;
    
}
.left img{
    height: 700px;
    width: 600px;
}
.right img{
    width: 100px;
}
.right{
    position: relative;
    left: 700px;
    bottom: 700px;
}
.main{
    position: relative;
    left: 100px;
    bottom: 30px;
    

} 
.top h1{
    font-size: 30px;
}
.top p{
    font-style: italic;
    font-size: 18px;
}
.bot button{
    font-size: 18px;
    border: 1.5px solid #395FFA;
    background-color: #FFCA02;
    color: #395FFA;
    border-radius: 16px;
    position: relative;
    top: 15px;
}
.mid{
    position: relative;
    left: 30px;
}
.cards{
    width: 250px;
    height: 100px;
    position: relative;

}
.cards button{
    font-size: 18px;
    border: 1.5px solid #395FFA;
    background-color: #FFCA02;
    color: #395FFA;
    border-radius: 16px;
}
.cards h1{
    font-size: 18px;
    font-style: italic;
}
.cards img{
    width: 70px;
    height: 90px;
    padding: 20px;
}
.card1{
    position: relative;
    left: 30px;
    top: 10px;
}
.card2{
    position: relative;
    left: 330px;
    bottom: 235px;
}
.card3{
    position: relative;
    left: 635px;
    bottom: 480px;
}
.card4{
    position: relative;
    left: 30px;
    bottom: 400px;
}
.card5{
    position: relative;
    left: 330px;
    bottom: 640px;
}
.card6{
    position: relative;
    left: 635px;
    bottom: 885px;
}
.title h1{
    font-size: 32px;
}