/* img{
    width: 300px;
    height: 300px;
    border: 2px green solid;

    /* border-radius: 50%; */
/* }

/* body{
    color: red;
    font-family: monospace;
    /* background-color: black; */
    /* background-image: url(https://mfd-darfest.ru/wp-content/uploads/2024/08/213.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
/* }

h1{
    color: green;
    font-size: 44px;
} */ 
