/* body{
    height: 100vh;
}
.main-card{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: relative;
    left: 850px;
    top: 300px;

}
.card{
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
}
.main-card1{
    background-color: green;
    width: 200px;
    height: 200px;
    position: sticky;
    left: 800px;
    top: 300px;

}
.card1{
    background-color: yellow;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 80px;
    top: 60px;
} */