body{
    display: flex;
    justify-content: center;
    
}
.card{
    width: 300px;
    background-color: cornflowerblue;
    padding: 15px;
    
}
.card h2{
    background-color: red;
    display: flex;
    width: 200px;
}
.card input{
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    
}
.card p{
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

